@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  color: #333333;
  font-family: Roboto !important;
}

/* Next button */
.btn-next {
  margin-top: 100px;
  text-align: right;
}

.otree-btn-next {
  text-align: left;
}

/* Quiz */
.form-control-errors, .alert-danger {
  color: #dc3545;
}

.col-form-label {
  font-weight: bold;
}

.mb-3._formfield {
  margin-bottom: 2rem !important;
}

/* Loading */

p.matching {
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.loader:before, .loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .5em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .5em .5em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .5em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.5em .5em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.5em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.5em -.5em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.5em 0 0 currentcolor;
  }

  87% {
    box-shadow: .5em -.5em 0 0 currentcolor;
  }
}
.feedback {
  color: #ffffff;
  font-size: xxx-large;
  text-align: center;
}

p.solo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p.self {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p.other {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.rdk {
  background: #000000 !important;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  cursor: none !important;
}

.otree-body {
  font-size: 14pt;
}
